/* Moving Gradient background color */
@-webkit-keyframes defaultBackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes defaultBackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes defaultBackgroundGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


body {
	height: 100%;
	width: 100%;
}

.mainSection {
    width: 59%;
    height: 420px;
    background-color: black;
    margin-top: 13%;
    position: absolute;
    margin-left: 19%;
    border-radius: 25px;
    color: white;
    -webkit-box-shadow: 25px 25px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 25px 25px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 25px 25px 25px 0px rgba(0,0,0,0.75);
}

.topHolder {
    width: 100%;
    height: 50%;
}
.bottomHolder {
    width: 100%;
    height: 50%;
}
.leftSection {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.rightSection {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.bottomSection {
    width: 50%;
    height: 100%;
    margin-left: 0%;
    float: left;
}

.title {
    font-size: 1.5em;
    color: white;
    text-align: center;
    line-height: 1.5;
    height: 17%;
    width: 100%;
}

.colorSectionSmallBox {
    width: 50%;
    height: 20%;
    background-color: white;
    margin-left: 25%;
}

.redValues {
    height: 20%;
    width: 100%;
    margin-top: 2%;
}

.greenValues {
    height: 20%;
    width: 100%;
    margin-top: 0%;
}

.blueValues {
    height: 20%;
    width: 100%;
    margin-top: 0%;
}

.letterSec {
    height: 100%;
    width: 20%;
    float: left;
    font-size: 1.75em;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.5;
}

.sliderSec {
    height: 100%;
    width: 60%;
    float: left;
}

.sliderBar {
    width: 100%;
    height: 89%;
    background-color: transparent;
}

.percentageSec {
    height: 100%;
    width: 20%;
    float: left;
    font-size: 1.5em;
    text-align: center;
    color: white;
    line-height: 1.7;
}

.colorArea_L {
    width: 25%;
    height: 100%;
    background-color: gray;
    float: left;
}

.colorArea_R {
    width: 25%;
    height: 100%;
    background-color: gray;
    float: left;
}

.colorHex {
    width: 75%;
    height: 100%;
    color: black;
    text-align: center;
    line-height: 42px;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.bottomHeader {
    width: 60%;
    height: 20%;
    margin-left: 20%;
}

.gradientAngleHolder {
    width: 90%;
    height: 75px;
    margin-top: 22%;
    margin-left: 1%;
    background-color: black;
    color: white;
}

.speedHolder {
    width: 90%;
    height: 75px;
    margin-top: 0%;
    margin-left: 1%;
    background-color: black;
    color: white;
}

.randomBtnHolder {
    width: 120px;
    height: 35px;
    margin-top: 45%;
    margin-left: 28%;
    background-color: white;
    font-size: 2em;
    text-align: center;
    line-height: 35px;
}

.randomBtnHolder a {
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    text-decoration: none;

}

.ag-form {
    width: 100%;
    height: 100%;
}

.css-Holder {
    width: 100%;
    height: 80%;
    background-color: white;
    color: black;
    margin-top: 0%;
    margin-left: 0%;
    overflow-y: scroll;
    font-size: 1.1em;

}

.nameAnimation {
    width: 100%;
    height: 80%;
    text-indent: 10px;
    font-size: 1.35em;

}

.gah-title {
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25;
}

.leftBottomSection {
    width: 23%;
    height: 100%;
    float: left;
}

.rightBottomSection {
    width: 23%;
    height: 100%;
    float: left;
}



































