/*General*/
.btn {
	background-color: #3088FF;
}
.activeItm {
	background-color: #F28200;
}
@media (min-width: 1400px){ 

.container{
	height: 900px;
    width: 100%;
    padding: 0;
}

#nav-sm {
	height: 5%;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

#logoutMain {
	height: 100%;
	width: 20%;
	margin-left: auto;
	color: black;
	font-size: 1.35em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}

#topHolderMain {
	height: 35%;
	background-color: rgba(0,0,0,0.7);
	padding: 0;
}

#bottomHolderMain {
	height: 60%;
	background: url("../images/graphy.png") repeat fixed center;
	padding: 0;
}

#topSideHolder-main {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#statsBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timerBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statsBtnMain:hover, #timerBtnMain:hover {
	background-color: #F28200;
	-webkit-box-shadow: 0px 0px 217px 10px #F28200;
    -moz-box-shadow: 0px 0px 217px 10px #F28200;
    box-shadow: 0px 0px 125px 20px #F28200;
}

#selectionTitle {
	height: 10%;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
}

#selectionHolderMain {
	height: 85%;
	padding: 0;
}

#selection-button {
	margin: 10px;
	white-space:normal !important;
    word-wrap:break-word; 
	color: white; 
	width: 200px;
}

#selection-button-add {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 600;
	width: 50px;
	background-color: #4cae4c;
}


}
@media (min-width: 1200px) and (max-width: 1399px){ 


.container{
	height: 800px;
    width: 100%;
    padding: 0;
}

#nav-sm {
	height: 5%;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

#logoutMain {
	height: 100%;
	width: 20%;
	margin-left: auto;
	color: black;
	font-size: 1.35em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#topHolderMain {
	height: 35%;
	background-color: rgba(0,0,0,0.7);
	padding: 0;
}

#bottomHolderMain {
	height: 60%;
	background: url("../images/graphy.png") repeat fixed center;
	padding: 0;
}

#topSideHolder-main {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#statsBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timerBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statsBtnMain:hover, #timerBtnMain:hover {
	background-color: #F28200;
	-webkit-box-shadow: 0px 0px 217px 10px #F28200;
    -moz-box-shadow: 0px 0px 217px 10px #F28200;
    box-shadow: 0px 0px 125px 20px #F28200;
}

#selectionTitle {
	height: 10%;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
}

#selectionHolderMain {
	height: 85%;
	padding: 0;
}

#selection-button {
	margin: 10px;
	white-space:normal !important;
    word-wrap:break-word; 
	color: white;  
	width: 200px;
}

#selection-button-add {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 600;
	width: 50px;
	background-color: #4cae4c;
}


}

@media (min-width: 1024px) and (max-width: 1199px){ 


.container {
	height: 768px;
	width: 100%;
	padding: 0;
}

#nav-sm {
	height: 5%;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

#logoutMain {
	height: 100%;
	width: 20%;
	margin-left: auto;
	color: black;
	font-size: 1.35em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#topHolderMain {
	height: 35%;
	background-color: rgba(0,0,0,0.7);
	padding: 0;
}

#bottomHolderMain {
	height: 60%;
	background: url("../images/graphy.png") repeat fixed center;
	padding: 0;
}

#topSideHolder-main {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#statsBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timerBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-color: black;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	background-color: #68A0CA;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statsBtnMain:hover, #timerBtnMain:hover {
	background-color: #F28200;
	-webkit-box-shadow: 0px 0px 217px 10px #F28200;
    -moz-box-shadow: 0px 0px 217px 10px #F28200;
    box-shadow: 0px 0px 125px 20px #F28200;
}

#selectionTitle {
	height: 10%;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
}

#selectionHolderMain {
	height: 85%;
	padding: 0;
}

#selection-button {
	margin: 10px;
	white-space:normal !important;
    word-wrap:break-word; 
	color: white;  
	width: 200px;
}

#selection-button-add {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 600;
	width: 50px;
	background-color: #4cae4c;
}


}

@media (min-width: 768px) and (max-width: 1023px) {


.container {
	height: 1024px;
	width: 100%;
	padding: 0;
}

#nav-sm {
	height: 5%;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

#logoutMain {
	height: 100%;
	width: 20%;
	margin-left: auto;
	color: black;
	font-size: 1.5em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}

#topHolderMain {
	height: 25%;
	background-color: rgba(0,0,0,0.7);
	padding: 0;
}

#bottomHolderMain {
	height: 70%;
	background: url("../images/graphy.png") repeat fixed center;
	padding: 0;
}

#topSideHolder-main {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#statsBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-color: #68A0CA;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timerBtnMain {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-color: #68A0CA;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statsBtnMain:hover, #timerBtnMain:hover {
	background-color: #F28200;
	-webkit-box-shadow: 0px 0px 217px 10px #F28200;
    -moz-box-shadow: 0px 0px 217px 10px #F28200;
    box-shadow: 0px 0px 125px 20px #F28200;
}

#selectionTitle {
	height: 10%;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
}

#selectionHolderMain {
	height: 85%;
	padding: 0;
}

#selection-button {
	margin: 10px;
	white-space:normal !important;
    word-wrap:break-word; 
	color: white;  
	width: 200px;
}

#selection-button-add {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 600;
	width: 50px;
	background-color: #4cae4c;
}


}

@media (min-width: 320px) and (max-width: 767px) {

.container {
	height: 700px;
	padding: 0;
}


#nav-sm {
	height: 5%;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
}

#logoutMain {
	height: 100%;
	width: 20%;
	margin-left: auto;
	color: black;
	font-size: 1em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}

#topHolderMain {
	height: 25%;
	background-color: rgba(0,0,0,0.7);
	padding: 0;
}

#bottomHolderMain {
	height: 70%;
	background: url("../images/graphy.png") repeat fixed center;
	padding: 0;
}

#topSideHolder-main {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#statsBtnMain {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	background-color: #68A0CA;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#timerBtnMain {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	background-color: #68A0CA;
	margin:auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	-webkit-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    -moz-box-shadow: 0px 0px 217px 10px rgba(0,85,255,1);
    box-shadow: 0px 0px 125px 20px rgb(86, 182, 255);
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#statsBtnMain:hover, #timerBtnMain:hover {
	background-color: #F28200;
	-webkit-box-shadow: 0px 0px 217px 10px #F28200;
    -moz-box-shadow: 0px 0px 217px 10px #F28200;
    box-shadow: 0px 0px 125px 20px #F28200;
}


#selectionTitle {
	height: 8%;
	font-size: 1.2em;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #DFDFDF;
	-webkit-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 22px 0px rgba(0,0,0,0.75);
}

#selectionHolderMain {
	height: 85%;
	padding: 0;
}

#selection-button {
	margin: 10px;
	white-space:normal !important;
    word-wrap:break-word;
	color: white;  
	width: 200px;
}

#selection-button-add {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 600;
	width: 50px;
	background-color: #4cae4c;
}


}

